.swiper-container .curso-nome {
    color: gray;
    top: 146px;
    position: absolute;
    left: 45px;
    text-decoration: underline;
    width: 210px;
    text-transform: uppercase;
}

@media (max-width: 550px){
    .swiper-container .curso-nome {
        color: gray;
        top: 10px;
        position: absolute;
        left: 192px;
        text-decoration: underline;
        width: 200px;
        text-transform: uppercase;
    }
}