<div class="main">
    <div class="container">

        <div class="product-gallery">
            <div class="product-photo-main">
                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        <div *ngFor="let item of data" class="swiper-slide">
                            <div class="swiper-zoom-container">
                                <img src="{{ item.img }}">
                                <span class="curso-nome">{{ item.title }}</span>
                            </div>
                        </div>

                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="product-photos-side">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div *ngFor="let item of data" class="swiper-slide">
                            <div class="swiper-zoom-container">
                                <img src="{{ item.img }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>